<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Driver</title>
</head>
<body>
  <h1>Edit Driver</h1>
<form action="/drivers/<%= driver._id %>?_method=PUT" method="POST">
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName" value="<%= driver.firstName %>" required>
  
  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName" value="<%= driver.lastName %>" required>
  
  <label for="email">Email:</label>
  <input type="email" name="email" value="<%= driver.email %>" required>
  
  <button type="submit">Update Driver</button>
</form>
<a href="/drivers">Back to Drivers</a>
</body>
</html>
