<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Drivers</h1>
<ul>
  <% drivers.forEach(function(driver) { %>
    <li>
      <a href="/drivers/<%= driver._id %>"><%= driver.firstName %> <%= driver.lastName %></a>
      </form>
    </li>
  <% }) %>
</ul>
<a href="/drivers/new">Add New Driver</a>
</body>
</html>
