<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/_navbar') %>
<h1>All Drivers</h1>
<ul>
  <% drivers.forEach(driver => { %>
    <li>
      <a href="/drivers/<%= driver._id %>"><%= driver.firstName %> <%= driver.lastName %></a>
    </li>
  <% }) %>
</ul>
<a href="/drivers/new"><button type="submit">Add Driver</button></a>
</body>
</html>