<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>Add New Driver</h1>
<form action="/drivers" method="POST">
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName" required>
  
  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName" required>
  
  <label for="email">Email:</label>
  <input type="email" name="email" required>
  
  <button type="submit">Add Driver</button>
</form>
<a href="/drivers">Back to Drivers</a>
</body>
</html>