<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Vehicle</title>
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>Add New Vehicle</h1>
  <form action="/vehicles" method="POST">
    <input type="hidden" name="driverId" value="<%= driverId %>">
    <label for="vin">VIN:</label>
    <input type="text" name="vin" id="vin">
    <label for="make">Make:</label>
    <input type="text" name="make" id="make">
    <label for="model">Model:</label>
    <input type="text" name="model" id="model">
    <label for="class">Class:</label>
    <input type="text" name="class" id="class">
    <label for="number">Number:</label>
    <input type="number" name="number" id="number">
    <button type="submit">Create Vehicle</button>
  </form>  
  <a href="/vehicles">Back to Vehicles</a>

</body>
</html>
