<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/drivers">Drivers</a>
    <a href="/vehicles">Vehicles</a>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
  </div> 
</body>
</html>